/* Stilar för toppmenyn */
.top-menu {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.top-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-menu ul li {
  display: inline;
  margin-right: 15px;
}

.top-menu ul li a {
  color: white;
  text-decoration: none;
}

.top-menu ul li a:hover {
  text-decoration: underline;
}

/* Stilar för innehåll */
.content {
  padding: 20px;
}

/* Stil för huvudrubriker och text */
h1, h2, p {
  text-align: left;
  font-family: Arial, sans-serif;
  margin-bottom: 15px;
}

/* Stil för tabellen */
table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Stil för tabellens rubriker (thead) */
table th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

/* Stil för tabellens rader (tbody) */
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Stil för tabellraderna när muspekaren hovrar */
table tr:hover {
  background-color: #f9f9f9;
}

/* Stil för övergripande layout */
.fund-selection,
.eet-slider,
.sustainability-preferences,
.exclusion-filter {
  margin-bottom: 20px;
}

/* Stil för EET-reglaget */
.eet-slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 25%; /* Gör reglaget bredden av föräldraelementet */
  height: 12px; /* Större höjd för reglaget */
  background: #ddd;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.eet-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px; /* Större bredd på "tummen" */
  height: 24px; /* Större höjd på "tummen" */
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

.eet-slider input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

/* Tooltip-styling */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1001; /* Justerad för att säkerställa att den syns ovanpå andra element */
  left: 110%;
  bottom: 20%;
  margin-left: 10px;
  margin-bottom: 15px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Tooltip-container-styling */
.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-container .tooltip {
  visibility: hidden;
  width: 300px; /* Minska storleken för bättre hantering */
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  z-index: 1001;
  font-size: 12px;
  line-height: 1.5;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
}

.tooltip ul {
  list-style: disc;
  padding-left: 20px;
}


/* Modalstyling */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1000px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 1004;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
}

.modal-search {
  display: flex;
  justify-content: center; /* Centrerar innehållet horisontellt */
  align-items: center;
  padding: 1rem;
  background-color: grey;
  border-bottom: 1px solid #ccc;
}

.search-input{
  width: 80%;
  align-items: center;
  padding: 1px;
}

.modal-body {
  padding: 1rem;
  max-height: 800px; /* Justerat för bättre användarupplevelse */
  overflow-y: auto;
}

/* Sökfält-styling */
.search-input {
  width: 80%; /* Anpassar bredden för att ha lite marginal från kanterna */
  padding: 10px;
  margin: 0 auto; /* Centrerar inmatningsfältet */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.search-fund-input {
  width: 20%; /* Anpassar bredden för att ha lite marginal från kanterna */
  padding: 10px;
  margin: 0 auto; /* Centrerar inmatningsfältet */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

/* Stäng-knapp-styling */
.close-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}
